@import "../../../variables.scss";

.main {
  @include main-styling;
  background-color: $background-color-transparent;
  height: 500px;
  width: 500px;
  text-align: center;

  & .content {
    justify-content: center;
    gap: 20px;

    & .linkInput input{
      width: 350px;
      padding: 12px;
      border: 2px solid $primary-color;
      border-radius: 10px;
      font-size: 18px;
      text-align: center;
      background-color: $background-color-transparent;
      color: white;
      transition: border-color 0.3s;
      font-family: $font;

      &:focus {
        border-color: $button-hover-color;
        outline: none;
      }
    }
  }
}
