@import '../../../variables.scss';

.main {
  @include position;
  color: #fff;
  font-family: $font;
  width: 80%;
  width: 350px;
  border-bottom: solid rgba($color: $primary-color, $alpha: 0.6);
  background-color: $background-color-transparent;
  border-radius: 15px;
  padding: 30px;
  gap: 30px;

  &__money {
    font-size: 14px;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: solid rgba($color: $primary-color, $alpha: 0.6);
    border-radius: 15px;
    width: 300px;
    text-align: center;
  }

  &__input button {
    font-family: $font;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.2s;
    width: 300px;

    &:hover {
      background-color: $button-hover-color;
      transform: scale(1.05);
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
      transform: scale(1);
    }
  }

  &__display {
    display: flex;
    gap: 40px;
    font-size: 40px;
    width: 300px;
    height: 60px;
    justify-content: center;
    border: solid $primary-color;
    border-radius: 15px;
  }
}
