@import "../../../../variables.scss";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color-transparent;
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  width: 450px;
  border-bottom: solid rgba($color: $primary-color, $alpha: 0.6);

  & .passmsg {
    font-family: $font;
    color: $text-color;
    font-size: 20px;
    margin-bottom: 30px;
  }

  & .inputs {
    display: flex;
    gap: 15px;
    justify-content: center;

    & input[type="number"] {
      width: 150px;
      padding: 12px;
      border: 2px solid $primary-color;
      border-radius: 10px;
      font-size: 18px;
      text-align: center;
      background-color: $background-color-transparent;
      color: white;
      transition: border-color 0.3s;

      &:focus {
        border-color: $button-hover-color;
        outline: none;
      }
    }

    & button {
      font-family: $font;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 12px 0;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s, transform 0.2s;
      width: 100px;

      &:hover {
        background-color: $button-hover-color;
        transform: scale(1.05);
      }
    }
  }
}
