<div class="main">
  <div class="main_left">
    <span class="passmsg">{{ password }}</span>
    <div class="inputs">
      <input 
        type="number" 
        placeholder="Length" 
        [(ngModel)]="inputLength" 
        min="6" 
        max="30" 
      />
      <button (click)="generate()">Generate</button>
      <button (click)="copyToClipboard()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </div>
  
  <div class="main_right">
    <mat-checkbox class="checkbox" [(ngModel)]="noCapital">Capital letters</mat-checkbox>
    <mat-checkbox class="checkbox" [(ngModel)]="noLowercase">Lowercase letters</mat-checkbox>
    <mat-checkbox class="checkbox" [(ngModel)]="noDigits">Digits</mat-checkbox>
    <mat-checkbox class="checkbox" [(ngModel)]="noSpecial">Special characters</mat-checkbox>
  </div>
</div>
