@import '../../../variables.scss';

.main {
    @include main-styling;

    & .result {
        cursor: default;
        text-align: right;
        font-family: $font;
        color: $text-color;
        font-size: 16px;
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        border-bottom: solid rgba($color: $primary-color, $alpha: 0.6);
        width: (60px * 4 - 12px);
        height: 60px;
        margin: 10px 10px 0;
        padding-right: 12px;
        border-radius: 15px;

        &:focus {
            outline: none;
        }
    }

    & .buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 10px;
        gap: 3px;

        & button {
            cursor: pointer;
            font-family: $font;
            background-color: $primary-color;
            color: $text-color;
            border: none;
            font-size: 16px;
            width: 60px;
            height: 60px;
            border-radius: 10px;
            transition: background-color 0.3s;

            &:hover {
                background-color: $button-hover-color;
            }
        }
    }
}