<div class="main">
  <!-- Result display -->
  <input
    class="result"
    [(ngModel)]="display"
    readonly
  />

  <!-- Buttons -->
  <div class="buttons">
    <button (click)="onRemove()">←</button>
    <button (click)="onButton('(')">(</button>
    <button (click)="onButton(')')">)</button>
    <button (click)="onButton('/')">/</button>
    <button (click)="onButton('7')">7</button>
    <button (click)="onButton('8')">8</button>
    <button (click)="onButton('9')">9</button>
    <button (click)="onButton('*')">*</button>
    <button (click)="onButton('4')">4</button>
    <button (click)="onButton('5')">5</button>
    <button (click)="onButton('6')">6</button>
    <button (click)="onButton('-')">-</button>
    <button (click)="onButton('1')">1</button>
    <button (click)="onButton('2')">2</button>
    <button (click)="onButton('3')">3</button>
    <button (click)="onButton('+')">+</button>
    <button (click)="onClear()">C</button>
    <button (click)="onButton('0')">0</button>
    <button (click)="onButton('.')">,</button>
    <button (click)="onCalculate()">=</button>
  </div>
</div>
