<header>
  <div class="menu" [class.active]="isMenuOpen">
    <button mat-icon-button class="dropdown-button" (click)="toggleMenu()">
      <mat-icon [ngClass]="{'active': isMenuOpen}">more_vert</mat-icon>
    </button>
    <ul class="dropdown-menu" [ngClass]="{'active': isMenuOpen}">
      <li><a routerLink="/games" (click)="linkClicked()">Games</a></li>
      <li><a routerLink="/tools" (click)="linkClicked()">Tools</a></li>
    </ul>
  </div>

  <div class="logo">
    <h1><a routerLink="/home">MiniGaT</a></h1>
  </div>

  <div class="search-login">
    <form class="search" action="" method="get">
      <input type="text" placeholder="Search..." />
      <button class="search-button" type="submit">
        <span class="material-icons">search</span>
      </button>
    </form>

    <a href="">
      <button mat-fab extended class="login-button">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </a>
  </div>
</header>
<router-outlet></router-outlet>
