<header>
  <div class="menu" [class.active]="isMenuOpen">
    <button mat-icon-button class="dropdown-button" (click)="toggleMenu()">
      <mat-icon [ngClass]="{'active': isMenuOpen}">more_vert</mat-icon>
    </button>
    <ul class="dropdown-menu" [ngClass]="{'active': isMenuOpen}">
      <li><a routerLink="/games" (click)="linkClicked()">Games</a></li>
      <li><a routerLink="/tools" (click)="linkClicked()">Tools</a></li>
    </ul>
  </div>

  <div class="logo">
    <h1><a routerLink="/home">MiniGaT</a></h1>
  </div>

  <div class="search-login">
    <form class="search" method="get" (submit)="onSearch()">
      <input 
        type="text" 
        [(ngModel)]="searchTerm" 
        (input)="onInputChange()" 
        (keydown)="onKeyDown($event)"
        placeholder="Search..." 
        name="first"
      />
      <button class="search-button" type="button" (click)="onSearch()">
        <span class="material-icons">search</span>
      </button>
    </form>

    <a href="">
      <button mat-fab extended class="login-button" [disabled]="LoginDisabled">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
    </a>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="text">
    <span>© MiniGaT 2025 - </span>
    <div class="github">
      <a href="https://github.com/JaronHel/MiniGaT">
        <img src="github-mark.png" alt="GitHub Mark" class="github-mark">
      </a>
      <a href="https://github.com/JaronHel/MiniGaT">
        <img src="GitHub_Logo.png" alt="GitHub Logo" class="github-logo">
      </a>
    </div>
  </div>
</footer>
