<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <mat-grid-list cols="2" rowHeight="2:1">
    <a routerLink="/tools/passgen"><mat-grid-tile>PassGen</mat-grid-tile></a>
    <a routerLink="/tools/colorconverter"><mat-grid-tile>Color Converter</mat-grid-tile></a>
    <mat-grid-tile>EMPTY</mat-grid-tile>
    <mat-grid-tile>EMPTY</mat-grid-tile>
  </mat-grid-list>
</body>
</html>
<router-outlet></router-outlet>
