@import '../../variables.scss';

mat-grid-list {
    height: calc(100vh - (45px + 73px));
}

mat-grid-tile {
    box-shadow: 0 0 5px 0 rgba($color: $primary-color, $alpha: 0.6);
    transition: background-color .2s;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: $font;
    background-color: $background-color-transparent;

    &:hover {
        background-color: rgba($color: $primary-color, $alpha: 0.1);
        cursor: pointer;
    }
}
