<div class="main">

  <button id="reset">Reset</button>

  <div id="cards">
    <button id="card1" class="hidden"></button>
    <button id="card2" class="hidden"></button>
    <button id="card3" class="hidden"></button>
    <button id="card4" class="hidden"></button>
    <button id="card5" class="hidden"></button>
    <button id="card6" class="hidden"></button>
    <button id="card7" class="hidden"></button>
    <button id="card8" class="hidden"></button>
    <button id="card9" class="hidden"></button>
    <button id="card10" class="hidden"></button>
    <button id="card11" class="hidden"></button>
    <button id="card12" class="hidden"></button>
    <button id="card13" class="hidden"></button>
    <button id="card14" class="hidden"></button>
    <button id="card15" class="hidden"></button>
    <button id="card16" class="hidden"></button>
    <button id="card17" class="hidden"></button>
    <button id="card18" class="hidden"></button>
    <button id="card19" class="hidden"></button>
    <button id="card20" class="hidden"></button>
    <button id="card21" class="hidden"></button>
    <button id="card22" class="hidden"></button>
    <button id="card23" class="hidden"></button>
    <button id="card24" class="hidden"></button>
  </div>
  
</div>
