@import '../../../variables.scss';

.main {
  @include main-styling;
  gap: 15px;
  width: 46em;

  & #cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    margin-bottom: 20px;

    & button {
      color: $text-color;
      border: none;
      background-color: $primary-color;
      cursor: pointer;
      transition: transform 0.3s, background-color .2s, ease-in 0.1s;
      font-size: 18px;
      width: 100px;
      height: 100px;
      font-weight: bold;
      background-color: $background-color-transparent;
      border-radius: 15px;
      border-bottom: solid rgba($color: $primary-color, $alpha: 0.6);

      &:hover {
        background-color: rgba($color: $primary-color, $alpha: 0.1);
      }
    }
  }
  
  & .hidden {
    font-size: 0 !important;
    transition: ease-out 0.1s;
  }
  
  & #reset {
    color: $text-color;
    border: none;
    background-color: $primary-color;
    cursor: pointer;
    transition: background-color .2s;
    font-size: 20px;
    width: 100px;
    height: 100px;
    font-weight: bold;
    background-color: $background-color-transparent;
    border-radius: 15px;
    border-bottom: solid rgba($color: $primary-color, $alpha: 0.6);
    width: 20%;
    font-size: 30px;
    border-radius: 5px;
    margin-top: 20px;

    &:hover {
      background-color: rgba($color: $primary-color, $alpha: 0.1);
    }
  }
}
