$background-color: #222222;
$background-color-transparent: rgba($color: $background-color, $alpha: 0.6);
$primary-color: #49a1ca;
$text-color: #ffffff;
$text-color-light: #aaaaaa;
$button-hover-color: darken($primary-color, 10%);
$input-background-color: #303030;
$border-color: #555555;
$icon-background-color: #404040;
$font: "Mulish", sans-serif;

@mixin position {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
