$background-color: #222222;
$background-color-transparent: rgba($color: $background-color, $alpha: 0.6);
$background-color-header: rgba($color: $background-color, $alpha: 0.8);
$primary-color: #49a1ca;
$primary-color-transparent: rgba($color: $primary-color, $alpha: 0.2);
$text-color: #ffffff;
$text-color-light: #aaaaaa;
$button-hover-color: darken($primary-color, 10%);
$input-background-color: #303030;
$border-color: #555555;
$icon-background-color: #404040;
$font: "Mulish", sans-serif;

@mixin position {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin main-styling {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  font-family: $font;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color-transparent;
  border: 3px solid $primary-color-transparent;
  border-radius: 15px;
}
